.studentinfo {
    border: dotted 1px var(--foreground) !important;
    display:flex;
    flex-direction: column;
    padding: 20px;
    font-size: 25px;
}

.course {
    border: solid 1px var(--foreground) !important;
    border-radius: 10px;
    margin: 5px;
}

.coursesContainer {
    border: 1px solid var(--foreground) !important;
    border-radius: 10px;
    padding: 10px;
    height: 250px;
    max-height: 250px;
    overflow: auto;
}

.studentCard {
    background: var(--button-primary-hover) !important;
}

.button {
    background: var(--foreground) !important;
    color: var(--background) !important;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 128px !important;
    height: 48px;
    justify-content: center;
    font-size: 16px !important;
    text-align: center;
    display: inline-block;
    cursor: pointer;
  }

.button:hover {
background: var(--button-primary-hover) !important;
border-color: transparent;
}

.headerRow {
background-color: rgb(100, 88, 61) !important;
border: 2px solid var(--foreground) !important;
}

.headerCell {
    padding: 12px;
    text-align: left;
    font-weight: bold !important;
    font-size: 15px !important;
    color: var(--background) !important;

}

.row:hover {
    background-color: #2f234b;
}

.cell {
    padding: 12px;
    border: 1px solid var(--foreground) !important;
    /* border-right: 1px solid var(--foreground) !important; */
    color: var(--foreground) !important;
    font-size: 15px !important;
    background-color: var(--background);
}

:global(.MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeMedium.css-1dc80h3-MuiTableCell-root) {
    border: 2px solid var(--foreground) !important;
  }