.page {
  background-color: var(--background);
}

.container {
  padding: 24px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
}

.table {
  width: 100%;
  background-color: #221544;
  border: 1px solid var(--foreground);
  border-radius: 8px;
  margin-top: 10px;
}

:global(.MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeMedium.css-1dc80h3-MuiTableCell-root) {
  border-bottom: 1px solid var(--foreground) !important;
}


.headerRow {
  background-color: rgb(100, 88, 61);
  border-bottom: 2px solid var(--foreground);
}

.headerCell {
  padding: 12px;
  text-align: left;
  font-weight: bold !important;
  font-size: 15px !important;
  color: var(--background) !important;

}

.row:hover {
  background-color: #2f234b;
}

.cell {
  padding: 12px;
  border-bottom: 1px solid var(--foreground) !important;
  border-right: 1px solid var(--foreground) !important;
  color: var(--foreground) !important;
  font-size: 15px !important;
}

.add_button {
  background: var(--foreground) !important;
  color: var(--background) !important;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 128px !important;
  height: 48px;
  justify-content: center;
  font-size: 24px !important;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.add_button:hover {
  background: var(--button-primary-hover) !important;
  border-color: transparent;
}

.details_button {
  background: var(--foreground) !important;
  color: var(--background) !important;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 128px;
  justify-content: center;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.details_button:hover {
  background: var(--button-primary-hover) !important;
  border-color: transparent;
}

.delete_button {
  background: #972752 !important;
  color: var(--background) !important;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 3px !important;
  border-radius: 128px;
  justify-content: center;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.delete_button:hover {
  background: #671c3a !important;
  border-color: transparent;
}

.toggle_button {
  color:  var(--foreground) !important;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer
}

.field_label {
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  text-align: left;
}

.chartContainer {
  margin: 30px;
}
