/* admin.module.css */
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.logo_main {
    margin-bottom: 2rem;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.button {
    background: var(--foreground) !important;
    color: var(--background) !important;
    padding: 0 16px;
    border-radius: 128px !important;
    height: 48px;
    font-size: 16px !important;
    text-align: center;
    cursor: pointer;
    border: none;
}

.button:hover {
    background: var(--button-primary-hover) !important;
}