:root {
  --background: #150e27;
  --foreground: #c7a458;
  --button-primary-hover: #9b8453;
  --font-geist-sans: Arial, Helvetica, sans-serif;
}

.page {
  background-color: var(--background);
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100svh;
  padding: 20px 80px 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.logo_main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_main img {
  display: block;
  height: auto;
}

.main {
  text-align: center;
  font-size: 32px !important;
  margin-top: 50px;
}

.primary {
  background: var(--foreground) !important;
  color: var(--background) !important;
  border-radius: 128px !important;
  height: 48px;
  font-size: 32px !important;
  padding: 0 40px !important;
  margin-top: 100px;
  text-transform: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary:hover {
  background: var(--button-primary-hover) !important;
}
