.page{
    background-color: var(--background);
}

.container {
    padding: 24px;
  }

  .from {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
  }

  .subtitle {
    font-size: 20px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 8px;
    text-align: left;
  }

  .field_label {
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: left;
  }

  .cancel_button {
    background: #998d78 !important;
    color: var(--background) !important;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 20px;

    border-radius: 128px;
    display: flex;
    justify-content: center;
    font-size: 24px !important;
  }

  .cancel_button:hover {
    background: #7a756d !important;
    border-color: transparent;
  }

  .submit_button {
    background: var(--foreground) !important;
    color: var(--background) !important;
    padding-left: 8px;
    padding-right: 8px;

    border-radius: 128px !important;
    height: 48px;
    justify-content: center;
    font-size: 24px !important;
  }

  .submit_button:hover {
    background: var(--button-primary-hover) !important;
    border-color: transparent;
  }

  .req_button {
    background: var(--foreground) !important;
    color: var(--background) !important;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 10px;
    margin-inline: auto;

    border-radius: 128px !important;
    display: flex;
    justify-content: center;
    font-size: 16px !important;
  }

  .req_button:hover {
    background: var(--button-primary-hover) !important;
    border-color: transparent;
  }

  .remove_button {
    background: #998d78 !important;
    color: var(--background) !important;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 10px;
    margin-inline: auto;

    border-radius: 128px !important;
    display: flex;
    justify-content: center !important;
    font-size: 16px !important;
  }

  .remove_button:hover {
    background: #7a756d !important;
    border-color: transparent;
  }